[submodule "frontend"]
	path = frontend
	url = git@github.com:SpotiQue/Frontend.git
[submodule "api"]
	path = api
	url = git@github.com:SpotiQue/API.git
[submodule "core"]
	path = core
	url = git@github.com:SpotiQue/core.git
