name: spotique
root: {{ project_path }}


windows:
  - API:
      root: {{ project_path }}/api
      panes:
        - ./venv/bin/gunicorn api:app -k aiohttp.worker.GunicornWebWorker -b localhost:5000
  - Core:
      root: {{ project_path }}/core
      panes:
        - ./venv/bin/python run.py
  - Frontend:
      root: {{ project_path }}/frontend
      panes:
        - npm run serve
  - shell: cd .
